<h1>Welcome to the Coin Combo Calculator</h1>
<form action="/coins">
  <div class="form-group">
    <label for="amount">What amount would you like to see in coins?</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
